.board {
  background-color: var(--dark-blue);
  width: 100vw;
  margin: 2.5rem;
  padding: 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
}
.tiles {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.restart {
  margin-top: 2.5rem;
  text-decoration: none;
  width: 100%;
  height: 2.5rem;
  background-color: var(--dark-blue);
  color: var(--pink);
  border: 1px solid var(--pink);

  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restart:hover {
  cursor: pointer;
  background-color: #450eff;
  color: var(--orange);
  border: 1px solid var(--orange);
}
.count {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: var(--pink);
}
.instructions {
  color: var(--pink);
  margin-bottom: 1.5rem;
}

@media (min-width: 720px) {
  .restart {
    width: 15rem;
  }
  .tiles {
    gap: 0.8rem;
  }
  .board {
    max-width: 70%;

    margin: 2.5rem 2.5rem;
  }
}
@media (min-width: 1024px) {
  .board {
    max-width: 700px;
    margin: 5rem;
  }
  .tiles {
    gap: 1rem;
  }
}
